.footer {
    padding: 50px 4%;
    max-width: 1000px;
    margin: 0 auto;
    color: #737373; 
    display: flex; /* Flexbox for horizontal layout */
    flex-direction: column; /* Column layout for stacking items */
    align-items: center;
    cursor: pointer;

}
.footer-icons {
    display: flex;
    gap: 30px;
    margin: 40px 0;
}
.footer-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.footer ul{

    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    margin-bottom: 20px;
    padding: 0%;
    text-align: center;

}
.footer ul li {
    margin: 5px 0; /* Margins for spacing */
    text-decoration: underline;

}

.copyright-text {
    color: gray; 
    font-size: 12px; 
    text-align: center; 
    margin-top: 20px;

}
@media (max-width : 800px) {
    .footer-icons img{
        width: 23px;

    }
    .footer ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
}